footer {
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
}

#myBtn {
  display: inline;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 255, 0.404);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgba(0, 0, 255, 0.6);
}

h1 {
  color: blue;
}

h2:hover, p:hover {
  color: blue;
}

.nav1 {
  border: 2px dotted black;
  padding: 7px;
}

.pages { 
  border: 1px solid black;
  padding: 2px;
  margin: none;
}
