footer {
  background: rgb(59, 59, 59);
  text-align: left;
  position: absolute;
  margin-top: -200;
  width: 99%;
  height: 10%;
  /* Height of the footer */
}

header {
  height: 10%;
  width: 100%;
}

main {
  height: 80%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 255, 0.404);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgba(0, 0, 255, 0.6);
}

h1 {
  color: blue;
  font-family: serif;
}

.nav1 {
  border: 2px dotted black;
  padding: 7px;
}

.pages {
  border: 1px solid black;
  padding: 2px;
  margin: 1px;
}

#homeNav {
  padding: 3px;
  border: 2px dotted black;
}

figcaption {
  text-align: center;
}

.img0 {
  text-align: center;
}

#source1 {
  text-align: center;
}

.next {
  bottom: 1px;
  margin: 10px;
  text-decoration: none;
}

.next:visited {
  bottom: 5px;
  text-decoration: none;
}

body {
  text-align: center;
  font-family: sans-serif;
}

a {
  color: aquamarine;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 180, 162);
  text-decoration: none;
}